# Edit your administrator email address here
ACME_EMAIL=your-email@example.com
# Edit the DNS name or public IP address of your VPS here
NODE_HOST=node.your-domain.com
# Edit the storage credentials for the minio object storage used by the inx-collector
MINIO_ROOT_USER=minio-admin
MINIO_ROOT_PASSWORD=minio-password-goes-here

# Edit the password hash and salt created with 'docker compose run hornet tool pwd-hash' here
DASHBOARD_PASSWORD=0000000000000000000000000000000000000000000000000000000000000000
DASHBOARD_SALT=0000000000000000000000000000000000000000000000000000000000000000

# Following lines can stay unchanged
COMPOSE_FILE=docker-compose.yml:docker-compose-https.yml
COMPOSE_PROFILES=monitoring
DASHBOARD_USERNAME=susee-admin