# Edit the DNS name or public IP address of your VPS here
NODE_HOST=node.your-domain.com

# Uncomment this, to use 'buffer-messages-on-validation-errors' instead of
# 'always-return-errors' for iota-bridge error handling.
# See iota-bridge help/README for more details
#IOTA_BRIDGE_ERROR_HANDLING=buffer-messages-on-validation-errors