###############################################################
# Se
###############################################################

# You need to specify your email address to automatically get a valid SSL certificate via "letsencrypt.org"
ACME_EMAIL=your-email@example.com

# You need to specify the domain name of your node to automatically get a valid SSL certificate via "letsencrypt.org"
NODE_HOST=node.your-domain.com



# Edit the storage credentials for the minio object storage used by the inx-collector
MINIO_ROOT_USER=minio-admin
MINIO_ROOT_PASSWORD=minio-password-goes-here

# Edit the password hash and salt created with 'docker compose run hornet tool pwd-hash' here
DASHBOARD_PASSWORD=0000000000000000000000000000000000000000000000000000000000000000
DASHBOARD_SALT=0000000000000000000000000000000000000000000000000000000000000000

# Choose a dashboard username (default: admin)
DASHBOARD_USERNAME=susee-admin


###############################################################
# Following lines can stay unchanged but need to be uncommented
###############################################################

# The following line needs to be uncommented to activate HTTPS (HTTP access will be deactivated).
COMPOSE_FILE=docker-compose.yml:docker-compose-https.yml

# Uncomment the following line to enable prometheus and grafana
# Grafana will be available under <NODE_HOST>/grafana
# WARNING: Do not forget to set a new password after the first start (default: admin/admin)
COMPOSE_PROFILES=${COMPOSE_PROFILES},monitoring